*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  display: flex;
  min-height: 100%;
  justify-content: flex-start;
  align-items: stretch;
  width: 100%;
  color: #4a4949;
  font-family: sans-serif;
  font-size: 14px;
  margin: 0;
  padding: 0;
}

i.icon-left {
  width: 20px;
  height: 20px;
  border: 1px solid #fff;
  margin-right: 10px;
  flex-shrink: 0;
}

#root, .app{
  width: 100%;
  height: 100%;
  min-width: 100%;
  min-height: 100%;
}

.app{
  display: flex;
}

.code {
  color: #c4294f;
  background-color: #f9f2f4;
  padding: 5px;
  border-radius: 5px;
}

.sidebar {
  flex-basis: 228px;
  flex-shrink: 0;
  background-color: #2e4254;
  position: relative;
}

.sidebar .bottom-panel {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 35px;
  width: 100%;
  background-color: #1e3145;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.sidebar .bottom-panel .panel-item {
  border: 1px solid #5b738b;
  flex-basis: 25px;
  text-align: center;
  height: 25px;
  background-color: #5b738b;
}

.sidebar .container {
  display: flex;
  flex-direction: column;
  height: calc(100% - 35px);
}

.sidebar .shead {
  height: 60px;
  display: flex;
  align-items: center;
  padding: 0px 10px;
  flex-shrink: 0;
}

.shead .logo {
  height: 35px;
  width: 35px;
  border: 2px solid #fff;
  border-radius: 50%;
  margin-right: 10px;
}

.shead .name {
  font-size: 20px;
  color: #fff;
  font-weight: bold;
}

.sidebar .suser {
  display: flex;
  align-items: center;
  padding: 0 10px;
  flex-shrink: 0;
  margin-bottom: 10px;
}

.suser .avatar {
  height: 55px;
  width: 55px;
  border: 3px solid #fff;
  border-radius: 50%;
  flex-shrink: 0;
}

.suser .info {
  margin-left: 20px;
  line-height: 1.5;
  font-size: 14px;
}

.suser .greating {
  color: #aaaaaa;
}

.suser .name {
  color: #fff;
  font-weight: bold;
}

.sidebar .smenu {
  flex-grow: 1;
  overflow-y: auto;
}

.smenu .heading {
  color: #fff;
  font-weight: bold;
  padding: 10px;
}

.smenu .left-nav {
  list-style: none;
  margin: 10px 0px 0px 0px;
  padding: 0px;
}

.smenu .left-nav a {
  color: #fff;
  text-decoration: none;
  display: block;
  padding: 15px 10px;
  display: flex;
  align-items: center;
  position: relative;
  font-size: 14px;
}

.smenu .left-nav .has-submenu>a:after {
  content: '';
  position: absolute;
  right: 10px;
  bottom: 18px;
  border: 4px solid transparent;
  border-top: 5px solid #949494;
}

.smenu .left-nav .sub-menu {
  padding: 0;
  margin: 0;
}

.smenu .left-nav .sub-menu .sub-item-link {
  margin-left: 20px;
  border-left: 1px solid #445767;
  padding-left: 20px;
}

.smenu .left-nav .sub-menu .sub-item-link:before {
  content: "";
  height: 10px;
  width: 10px;
  background-color: #445767;
  border-radius: 50%;
  position: absolute;
  left: -6px;
}

.smenu .left-nav .active>a {
  background-color: #344656;
  border-top: 1px solid #566571;
  border-bottom: 1px solid #22313f;
}

.main {
  background-color: #f7f7f7;
  flex-basis: 100%;
  display: flex;
  flex-direction: column;
}

.header {
  background-color: #ececec;
  flex-basis: 60px;
  border-bottom: 1px solid #d8dde3;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 20px;
  flex-shrink: 0;
}

.sidebar-button {
  flex-basis: 30px;
  cursor: pointer;
  flex-shrink: 0;
  margin-right: 20px;
}

.sidebar-button span {
  height: 3px;
  width: 100%;
  display: block;
  margin-bottom: 5px;
  background-color: #5b738b;
}

.header .top-menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header .messages {
  width: 15px;
  height: 15px;
  background-color: #fff;
  margin-right: 30px;
  border: 1px solid #22313f;
  flex-shrink: 0;
}

.header .user-menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 10px;
  position: relative;
}

.header .user-menu:after {
  content: '';
  position: absolute;
  right: -3px;
  bottom: 8px;
  border: 4px solid transparent;
  border-top: 5px solid #949494;
}

.header .user-menu .avatar {
  width: 30px;
  height: 30px;
  border: 2px solid #fff;
  border-radius: 50%;
  margin-right: 10px;
  background-color: #22313f;
  flex-shrink: 0;
}

.main .container {
  flex-grow: 1;
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  padding-bottom: 20px;
  flex-shrink: 0;
}

.main .container .heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0px;
  flex-shrink: 0;
}

.main .container .heading h1 {
  font-size: 25px;
  color: #73869d;
}

.main .container .heading .search {
  flex-basis: 300px;
  flex-shrink: 0;
  position: relative;
}

.main .container .heading .search input {
  width: 100%;
  height: 35px;
  border-radius: 100px;
  border: 1px solid #dddddd;
  outline: none;
  padding: 5px 35px 5px 10px;
}

.btn-search {
  border: none;
  position: absolute;
  background: transparent;
  right: 10px;
  cursor: pointer;
  color: #858585;
  top: 10px;
}

.main .container .content-wrapper {
  background-color: #fff;
  flex-shrink: 0;
  flex-grow: 1;
  border: 1px solid #e5e8ec;
  padding: 0 20px 20px;
}

.main .content-wrapper .title {
  border-bottom: 2px solid #e5e8ec;
  padding: 10px 0px;
  display: flex;
  align-items: center;
  color: #73869d;
  margin-bottom: 20px;
  font-size: 16px;
  font-weight: bold;
}

.table {
  border: 1px solid #e5e8ec;
  margin-top: 20px;
  width: 100%;
  border-spacing: 0px;
  color: #5b738b;
}

.table thead {
  background-color: #435667;
  color: #fff;
}

.table tr {
  /* height: 40px; */
  padding: 10px;
}

.table tbody tr:nth-child(odd) {
  background-color: #f9f9f9;
}

.table th:first-child {
  padding-left: 5px;
}

.table td:first-child {
  padding-left: 5px;
}

.table th {
  padding: 10px;
  text-align: left;
}

.table td {
  padding: 10px;
  border-top: 1px solid #e5e8ec;
}

.table a {
  text-decoration: none;
  color: #5b738b;
}

.footer {
  background-color: #fff;
  display: flex;
  justify-content: flex-end;
  align-content: center;
  align-items: center;
  padding: 10px 20px;
  flex-shrink: 0;
}

.add_favorite {
  border: 1px dotted #566571;
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.form_element label {
  display: block;
  flex-basis: 150px;
  text-align: right;
  margin-right: 10px;
}

.form_element {
  margin-bottom: 10px;
  padding: 10px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.form_control {
  flex-grow: 1;
  flex-shrink: 0;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.form_btn {
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
}

.add_favorite h3 {
  text-align: center;
}


@media (max-width:940px) {
  .sidebar {
    display: none;
  }
}